.Sidebar{
    border-right: .2rem solid #DADADA;
    overflow-y: scroll;
}

.Sidebar_menu,
.Sidebar_settings{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 0 1.7rem 0;
}

.Sidebar_settings{
    position: absolute;
    bottom: 0;
    width: 22.3rem;
    border-top: .5rem solid rgba(0, 0, 0, 0.07);
    padding-top: 1.9rem;
    background-color: white;
}

#lastOption {
    margin-bottom: 6rem;
} 

.Sidebar_logo{
    margin: 4rem 0 5.4rem 2rem;
}

.menuIcon{
    margin: 0 .5rem 0 1.5rem;
}

.menuText{
    color:rgba(0, 0, 0, 0.58);
    font-family: SF Pro Display;
}

.Sidebar_icon{
    margin: 0 1.5rem 0 3rem;
}

.Sidebar_text{
    font-size: 1.4rem;
    font-family: SF Pro Display;
    color: #C4C4C4;
}

.shape{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 4.5rem;
    
    transition: all .3s cubic-bezier(0,0,0,.5);
}

.is-active .shape{
    background-color: #072C5E;
}

.is-active .Sidebar_text{
    color: white;
}

.shape:hover{
    background-color: #072C5E;
    cursor: pointer;
}

.shape:hover .Sidebar_text{
    color: white;
}

.shape:hover .Sidebar_icon,
.is-active .Sidebar_icon{
    filter: brightness(0) invert(1);
}



/* MEDIA QUERIES */
@media only screen and (max-width: 568px){
    .Sidebar_logo{
        margin: 4rem 0 1rem 2rem;
        width: 80%;
    }

    .Sidebar_text{
        font-size: 1rem;    
    }

    .shape{
        height: 3.5rem;
    }

    .Sidebar_menu,
    .Sidebar_settings{
        padding: 4rem 0 1.5rem 0;
    }

    .Sidebar_settings{
        width: 14.8rem;
        padding-top: 1rem;
    }

    .Sidebar_icon{
        margin: 0 1.5rem 0 2.2rem;
        width: 10%;
    }

    .menuIcon{
        width: 9%;
    }

    .menuText{
        font-size: .5rem;
    }

    #lastOption {
        margin-bottom: 5rem;
    } 
}

@media only screen and (max-width: 390px){
    .Sidebar_logo{
        margin: 4rem 0 1rem 1rem;
        width: 90%;
    }

    .Sidebar_text{
        font-size: .1rem;    
    }

    .shape{
        height: 3rem;
    }

    .Sidebar_menu,
    .Sidebar_settings{
        padding: 4rem 0 1.5rem 0;
    }

    .Sidebar_settings{
        width: 8.8rem;
        padding-top: .5rem;
    }

    .Sidebar_icon{
        margin: 0 1rem 0 1rem;
        width: 15%;
    }

    .menuIcon{
        width: 9%;
        margin: 0 .5rem 0 1rem;
    }

    .menuText{
        font-size: 6px;
    }

    #lastOption {
        margin-bottom: 4rem;
    } 
}