.LoginForm{
    text-align: center;
    z-index: 1;
}

.LoginForm_header{
    color: #474EBB;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 8rem;
    margin-top: 6rem;

    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.email-input, .password-input{
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.035em;
    text-align: center;
    border: 2px solid #B8B8B8;
    border-radius: .8rem;
    color: var(--color-dark-gray);
    width: 100%;
    padding: 1.6rem 9rem;
    margin: .7rem 0 4rem 0;
    box-sizing: border-box;

    /* To hide default styling */
    -webkit-appearance: none;  
    -moz-appearance:    none;
    appearance:         none;
    outline: none;
}

.email-input:focus,
.password-input:focus{
    color: #474EBB;
    border-color: #474EBB;
  }

.LoginForm_button{
    border: none;
    border-radius: .8rem;
    margin-top: 2.5rem;
    margin-bottom: 5.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.035em;
    padding: 1.3rem 8rem;
    background-color: #04347F;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    color: white;

    transition: all 0.2s linear 0s;
}

.LoginForm_button:hover{
    background-color: #072C5E;
    cursor: pointer;
}

.LoginForm_forgotPass{
    color: #000000;
    font-size: 1.6rem;
    text-decoration: none;
}

@media only screen and (max-height: 600px){
    .LoginForm_header{
        font-size: 2.5rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .email-input, .password-input{
        font-size: 1.3rem;
        letter-spacing: normal;
        margin: .7rem 0 2rem 0;
        width: 90%;
    }

    .LoginForm_button{
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.3rem;
        padding: 1.3rem 6rem;
    }

    .LoginForm_forgotPass{
        font-size: 1.3rem;
    }
}

@media only screen and (max-height: 423px){
    .LoginForm_header{
        font-size: 1.5rem;
        margin-bottom: 0rem;
        margin-top: 1rem;
    }

    .email-input, .password-input{
        font-size: 1rem;
        margin: .2rem 0 1rem 0;
        padding: 1rem 6rem;
    }

    .LoginForm_button{
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-size: 1rem;
        padding: 1rem 3rem;
    }

    .LoginForm_forgotPass{
        font-size: 1rem;
    }
}