.ActionButton_button{
    position: relative;
    margin-top: 13rem;
    padding: 1.5rem 3.3rem;
    width: 23rem;
    text-align: start;
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    outline: none;

    transition: all .3s cubic-bezier(0,0,0,.5);
}

.ActionButton_button:hover{
    background-color: #D6D6D6;
    cursor: pointer;
}

.ActionButton_button-title{
    font-family: SF Pro Display;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.ActionButton_button-subtitle{
    font-family: SF Pro Display;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000000;
    opacity: 0.34;
}

/* CIRCLE */
.ActionButton_button::before{
    content: "";
    position: absolute;  
    height: 5.5rem;
    width: 5.5rem;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;

    right: 18rem;
    top: -3.5rem;

    z-index: -1;
}

/* CIRCLE COLORRS */

.pinkColor::before{
    border: 1.4rem solid #C2566D;  
}

.yellowColor::before{
    border: 1.4rem solid #F0C17D;  
}

.greenColor::before{
    border: 1.4rem solid #2BC3A7;  
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1073px){
    .ActionButton_button{
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 568px){
    .ActionButton_button{
        padding: 1rem 2rem;
        width: 17rem;
    }

    .ActionButton_button-title{
        font-size: 1.2rem;
    }
    
    .ActionButton_button-subtitle{
        font-size: 1rem;
    }

    .ActionButton_button::before{
        height: 4rem;
        width: 4rem;
    
        right: 13.5rem;
        top: -2.5rem;
    }

    .pinkColor::before{
        border: 1rem solid #C2566D;  
    }
    
    .yellowColor::before{
        border: 1rem solid #F0C17D;  
    }
    
    .greenColor::before{
        border: 1rem solid #2BC3A7;  
    }
}